@import "shared/style/modules";

.pin-group {
	&__error {
		font-size: 12px;
	}

	&__view-pin {
		font-size: 14px;
	}

	&__label {
		color: $color__primary;

		&--error {
			color: $color__error;
		}
	}
}
