@import "src/ref/tv/style/modules";

.common-dialog {
	color: $color__white;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: $viewport-width;
	height: $viewport-height;
	display: none;
	overflow: hidden;

	&--show {
		display: block;
	}
	&__content {
		position: absolute;
		width: $viewport-width;
		height: $viewport-height;
		overflow: hidden;
	}
}
