.ed4-viewer {
	&__textarea {
		width: 100%;
		min-height: 80px;
		resize: vertical;
	}

	&__color {
		width: 30px;
		height: 33px;
		vertical-align: middle;
		margin-left: 10px;
		border: none;
		background-color: transparent;
	}

	&__color-hex,
	&__color-picker {
		display: inline-block !important;
		vertical-align: middle;

		&.is-default-color {
			opacity: 0.5;
		}
	}

	&__color-hex {
		width: 138px; // allow some space for color picker
	}

	&__color-picker {
		width: 28px;
		height: 32px;
		padding: 0;
		margin-left: 5px;
		border: none;
		background: transparent;
		cursor: pointer;
	}

	&__help-text {
		margin-top: 5px;
		font-size: 13px;
		opacity: 0.7;
	}
}
