@import "shared/style/modules";
@import "ref/responsive/style/app/header";

$header-background: $color__black7;

.header {
	position: fixed;
	width: 100%;
	background-color: $header-background;
	color: $color__white;
	top: 0;
	left: 0;
	z-index: $depth-header;

	// null transform hack
	// force layer for browsers that don't support will-change
	transform: translateZ(0);
	will-change: top;

	&--with-banner {
		top: var(--banner-height, 0);
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 30px;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
		z-index: -1;
		pointer-events: none;
	}

	&--no-shadow:before {
		content: none;
	}

	&--solid-background {
		background-color: $header-background;
	}

	&__bar {
		display: flex;
		align-items: center;
	}

	&__icon-btn {
		display: flex;
		align-items: center;
		min-width: 32px;
		min-height: 32px;
		color: $color__white;
		background: transparent;

		&:hover,
		&:focus {
			color: $color__white;
		}

		> .svg-icon {
			// Ensure the button size provides a reasonable hit area around the icon (>= 32px).
			// This usually means the button's dimensions will be larger than the icon's dimensions.
			$iconSize: 18px;
			width: $iconSize;
			height: $iconSize;
		}

		&--search {
			display: none;
		}
	}

	&__logo {
		$logo-colorful-color: $color__white;
		flex: 0 0 auto;
		color: $color__white;

		> .axis-logo {
			width: 76px;
			height: 24px;
		}
	}

	// By default we don't want any padding applied.
	// The `.scrollbar-padding` class is added globally but only applies to the mobile breakpoint's layout.
	&__nav-top.scrollbar-padding {
		padding-right: 0;
	}

	&__nav-account {
		flex: 0 0 auto;
		margin-left: 4px;

		.profile-icon__name {
			color: $color__white;
		}

		.cta-btn {
			border-radius: 14px;
		}
	}

	&__price-plan {
		display: none;
		margin-left: 4px;
	}

	.drop-menu {
		&__content a:hover {
			color: $color__link--hover;
		}
	}

	&--signed-in {
		.header__price-plan {
			margin-left: 16px;
		}

		.header__nav-account {
			margin-left: 14px;
		}
	}
}

@include mq($until: tablet) {
	.header {
		position: fixed;
		$mobilePrimaryNavColor: $header-background;

		&__bar {
			height: $header-height-small;
		}

		&__icon-btn--search-left {
			display: flex;
		}

		&__logo {
			margin: 0 auto;
		}

		&__nav-top {
			display: none;
		}

		&__nav-bottom {
			width: 100%;
			height: $header-primary-nav-height;
			background-color: $mobilePrimaryNavColor;
			justify-content: space-between;

			// Adding pseudo elements to the start and end so the justify layout will
			// align the nav entries towards the center instead of flush to the edges
			&:before,
			&:after {
				content: "";
			}
		}

		~ .content {
			// Ensure page content sits below the header bar
			padding-top: $header-height-small + $header-primary-nav-height;
		}
		~ .app-background {
			top: $header-height-small + $header-primary-nav-height;
		}

		&--no-nav {
			~ .content {
				// Don't include the $header-primary-nav-height when there's no bottom nav
				padding-top: $header-height-small;
			}
			~ .app-background {
				top: $header-height-small;
			}
		}

		&--no-nav.header--hero-mode:not(.header--hero) {
			~ .content {
				padding-top: 0;
			}
		}

		&--no-featured {
			~ .content {
				padding-top: $header-height-small;
			}
		}
	}
}

@include mq($until: desktop) {
	.header {
		.drop-menu {
			display: none;
		}

		.header-search {
			display: none;
		}

		&__nav-account {
			display: none;
		}

		&__nav-top {
			.primary-nav__entry {
				&:not(.primary-nav__entry--featured) {
					display: none;
				}
			}
		}
	}
}

@include mq($from: tablet, $until: desktop) {
	.header {
		&__bar {
			height: $header-height-small;
		}

		&--hero:before {
			height: 74px;
		}

		&__nav-top {
			justify-content: center;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 20%;
			right: 20%;
		}

		&__icon-btn--search-right {
			display: flex;
			margin-left: auto;
			margin-right: 10px;
		}

		~ .content,
		&-offset {
			// Ensure page content sits below the header bar
			padding-top: $header-height-small;
		}
	}
}

@include mq($from: tablet) {
	.header {
		&--hero {
			&:not(.header--solid-background) {
				background-color: transparent;
			}

			&:before {
				// We adjust the before :pseudo element to be used as the gradient background instead of drop shadow
				top: 0;
				background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
			}

			.header__logo {
				$logo-transparent-color: $color__white;
				color: $logo-transparent-color;

				&-transparent-background {
					color: $logo-transparent-color;
					display: block;
					fill: $logo-transparent-color;
				}

				&-colorful-background {
					display: none;
				}
			}
		}

		// Intentionally increasing specificity here so that it takes priority over other media query adjustments
		&.header--hero-mode ~ .content {
			// When in hero mode content sits underneath the header bar flush with the top of the page
			padding-top: 0;
		}

		&__nav-bottom {
			display: none;
		}

		&__nav-top {
			flex: 1 1 auto;
		}
	}
}

@include mq($from: desktop) {
	.header {
		&__bar {
			height: $header-height-large;
		}

		&:before {
			height: 0;
		}

		&--hero:before {
			height: 88px;
		}

		&--hero-mode:not(.header--hero):before {
			height: 30px;
		}

		&__logo > .axis-logo {
			width: 89px;
			height: 28px;
		}

		&__nav-top {
			margin: 0 56px;
		}

		&__icon-btn--menu {
			display: none;
		}

		~ .content,
		&-offset {
			// Ensure page content sits below the header bar
			padding-top: $header-height-large;
		}

		&:not(.header--hero) .drop-menu__content {
			border-radius: 0 0 4px 4px;
		}

		&__price-plan {
			display: block;
		}
	}
}

@media (hover: none) {
	.header {
		&__icon-btn {
			&--menu {
				display: block;
			}

			@include mq($until: tablet) {
				&--search-left {
					display: flex;
				}

				&--search-right {
					display: none;
				}
			}
			@include mq($from: tablet) {
				&--search-left {
					display: none;
				}

				&--search-right {
					display: flex;
					margin-left: auto;
					margin-right: 10px;
				}
			}
		}

		&-search {
			display: none;
		}
	}
}

@include mq($from: uhd) {
	.header--hero-mode:not(.header--hero) {
		~ .content {
			margin-top: -10px;
		}
	}
}

.modal-active .header .notification-component__notifications .passive-notification-manager {
	display: none;
}
