.passive-notification-components {
	&__group {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&--horizontal {
			flex-direction: row;
		}
		.btn,
		textarea,
		h4 {
			margin-bottom: 20px;
		}

		hr {
			width: 100% !important;
			border-color: white !important;
		}
	}
}
