@import "shared/style/modules";
@import "ref/responsive/style/mixins/vw";
@import "ref/responsive/style/app/app-background.scss";

.dh1-hero {
	// To prevent the header component in component viewer from inheriting margin overflow from the __head-container
	overflow: hidden;

	@mixin innerGrid($px) {
		$calc: calc($px - (100vw - 100%));
		padding: 0 $px $px;
		padding: 0 $calc $calc;
	}

	&__head-container {
		position: relative;
		height: 100%;
	}

	&__top {
		width: 100%;
	}

	&__img {
		left: 0;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&__title {
		margin: 0;
		font-family: $font-family-heading;
		font-size: 38px;
		font-size: 5vw;
		font-weight: bold;
		color: $color__white;
		z-index: 1;
		position: absolute;
		bottom: 100%;
		padding-bottom: 1vw;
	}

	&__info {
		margin-top: 30vw;
	}

	&__brand {
		max-width: 40vw;
		max-height: 40vw;
	}

	&__metadata {
		display: flex;
		align-items: center;
		margin-top: 8px;
	}

	&__meta-block {
		margin-right: 7px;
		padding: 1px 4px;
		border: 1px solid $color__grey--dark;
		color: $color__grey--light;
		font-size: 11px;
		font-family: $font-family-body;
		background-color: rgba($color__black, 0.3);
		flex-shrink: 0;
	}

	&__actions {
		display: flex;
		margin-top: 20px;
	}

	&__primary-actions {
		margin-right: 20px;
		.cta-btn {
			padding: 0 35px;
			.account-btn__spinner-container--visible {
				width: 0;
			}
		}
	}

	&__secondary-actions {
		display: flex;
		align-items: flex-start;

		&--bottom {
			display: none;
		}
		@include mq($until: phablet) {
			display: none;
			&--bottom {
				margin-top: 20px;
				display: flex;
			}
		}
	}

	&__sec-btn + &__sec-btn {
		margin-left: 15px;
	}

	&__progress {
		padding-top: 12px;
		margin-bottom: 10px;
	}

	.resume-progress {
		&__title {
			display: none;
		}
	}

	&__wrapper {
		position: relative;
	}

	&__description {
		$descriptionLineHeight: 1.45em;
		$maxLines: 4;

		font-size: 14px;
		font-family: $font-family-body;
		color: $color__grey--light;
		margin: 14px 0 0;

		&--truncated {
			line-height: $descriptionLineHeight;
			max-height: $descriptionLineHeight * $maxLines;
			overflow: hidden;
			background: linear-gradient(to bottom, rgba($color__white, 1), rgba($color__white, 0));
			-webkit-background-clip: text;
			-moz-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			-moz-text-fill-color: transparent;
			text-fill-color: transparent;
		}
	}

	&__episode-metadata {
		font-size: 14px;
		font-family: $font-family-body;
		color: $color__grey--light;
		margin: 14px 0 0;
	}
}

// stylelint-disable no-duplicate-selectors
.dh1-hero__description--truncated {
	// This media query is specific for ie9/ie10, using this here to apply a fallback for truncated text
	// http://keithclark.co.uk/articles/moving-ie-specific-css-into-media-blocks/media-tests/
	@media screen and (min-width: 0\0) {
		background: none;
		&:after {
			content: "";
			width: 100%;
			height: 2.6em;
			position: absolute;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(to bottom, transparent, $color__black);
		}
	}
}
// stylelint-enable

@include mq($from: tablet) {
	.dh1-hero {
		$maxContentWidth: 80%;

		&__title {
			font-size: 48px;
			font-size: 5vw;
		}

		&__brand {
			max-width: 40vw;
			max-height: 25vw;
		}

		&__description {
			font-size: 16px;
			max-width: $maxContentWidth;

			&--truncated {
				&:after {
					width: $maxContentWidth;
				}
			}
		}

		&__progress {
			align-items: flex-end;
			flex-direction: column-reverse;
			margin-bottom: 19px;
			padding-top: 0px;
			max-width: $maxContentWidth;
		}

		.resume-progress {
			&__info {
				align-items: center;
				display: flex;
				margin: 0 0 2px;
				justify-content: flex-end;
				width: 100%;
			}

			&__info--has-title {
				justify-content: space-between;
			}

			&__title {
				display: flex;
			}

			&__bar {
				width: 100%;
			}
		}
	}
}

.app-background--dh1:before {
	background-image: linear-gradient(
		to bottom,
		rgba($app-bg-gradient-color, 0) 30%,
		rgba($app-bg-gradient-color, 1) 96%
	);
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;

	@include mq($from: laptop) {
		background-image: linear-gradient(
			to bottom,
			rgba($app-bg-gradient-color, 0) 30%,
			rgba($app-bg-gradient-color, 0.8) 65%,
			rgba($app-bg-gradient-color, 1) 96%
		);
	}
}

@include mq($from: laptop) {
	.dh1-hero {
		$maxContentWidth: 50%;

		&__top {
			position: relative;
		}

		&__head-container {
			& > .dh1-hero__title {
				display: none;
			}
		}

		&__title {
			font-size: 64px;
			font-size: 5vw;
		}

		&__metadata {
			margin-top: 16px;
		}

		&__description {
			max-width: $maxContentWidth;

			&--truncated {
				&:after {
					width: $maxContentWidth;
				}
			}
		}

		&__brand {
			position: absolute;
			transform: none;
			bottom: 100%;
			padding-bottom: 1vw;
			max-height: 18vw;
			max-width: 23vw;
		}

		&__progress {
			margin-bottom: 9px;
			max-width: $maxContentWidth;
		}
	}
}

@include mq($from: desktopWide) {
	.dh1-hero {
		&__top {
			position: relative;
		}

		&__meta-block {
			font-size: 13px;
		}
	}
}
