@import "shared/style/modules";

.account-otp {
	min-height: 40vh;
	font-family: $font-family-heading;

	&__title {
		text-align: left;
		color: $color__black3;
		font-size: 24px;
		margin-bottom: 20px;
		font-weight: 600;
	}

	&__description1,
	&__description2 {
		margin: auto;
		color: $color__grey;
		font-size: 14px;
	}

	&__description2 {
		margin-bottom: 30px;
	}

	&__form {
		margin-top: 60px;
	}

	.otp .pin__inputs {
		width: 257px;
	}

	&__pin-input {
		width: 80%;

		.pin__input {
			width: calc(100% / 6 - 10px);
			color: $color__black;
			border-bottom: 1px solid $color__grey--light;

			&--error {
				color: $color__error;
				border-bottom: 2px solid $color__error;
			}

			&:focus {
				border-bottom: 2px solid $color__primary;
			}
		}
	}

	&__otp-container {
		position: relative;
	}

	&__toast {
		&--bold {
			font-weight: bold;
		}
	}

	.cta-btn--primary-light:disabled {
		color: $color__white;
		background-color: $color__neutral;
	}

	&__otp-container .otp {
		&__description,
		&__expiry-description,
		&__title,
		&__content,
		&__buttons,
		.pin__error-message {
			text-align: left;
		}

		&__description,
		&__expiry-description {
			max-width: 355px;
			font-size: 14px;
			line-height: 1.29;
			color: $color__black;
		}

		&__description {
			margin-bottom: 0;
		}

		&__expiry-description {
			font-weight: 600;
			margin-top: 4px;
		}

		&__title {
			font-size: 16px;
			font-weight: bold;
			color: $color__grey--dark;
		}

		&__content {
			margin-bottom: 40px;
			max-width: 380px;
			margin-top: 30px;
		}

		.otp-cancel {
			display: none;
		}

		&__otp-code {
			text-align: left;
			margin: 0;
			.pin__inputs {
				margin: 0;
			}
			.pin__label {
				color: $color__black;
			}
		}

		&__resend {
			white-space: pre-wrap;
			padding: 0;
			font-size: 14px;
		}
	}

	&__pin-label {
		font-size: 12px;
	}

	&__pin-title {
		font-size: 16px;
		font-weight: bold;
		color: $color__grey--dark;
		margin-bottom: 24px;

		&--disabled {
			opacity: 0.5;
			color: $color__grey--warm;
		}
	}
}

@media screen and (min-width: 428px) {
	.account-otp {
		.otp {
			&__description,
			&__expiry-description {
				max-width: 572px;
			}

			&__input-group {
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
			}

			&__buttons {
				padding: 0 1.5rem 2rem;
				margin: 0;
			}
		}
	}
}
