@import "shared/style/modules";
@import "ref/responsive/style/forms/blue-theme";

.pwd-input {
	position: relative;

	&__view-pwd {
		display: none;
		position: absolute;
		right: 4px;
		top: 17px;
		z-index: 1;
		transition: right 0.1s linear;
		color: $color__grey--warm;
		background: transparent;
		width: 40px;
		text-align: center;
	}

	.txt-input__input {
		padding-right: 48px;
	}

	&--value {
		.pwd-input__view-pwd {
			display: block;
			font-size: 12px;
			text-transform: capitalize;
		}
	}

	&--feedback {
		.pwd-input__view-pwd {
			right: 30px;
		}

		.txt-input__input {
			padding-right: 74px;
		}
	}

	&--disabled {
		.pwd-input__view-pwd {
			color: $color__grey--light;
		}
	}

	.txt-input__icon--error {
		top: 12px;
	}
}

.form-blue {
	.pwd-input {
		&__view-pwd {
			color: $color__blue-text;
		}
		&--active {
			.pwd-input__view-pwd {
				color: $color__white;
			}
		}
		&--disabled {
			.pwd-input__view-pwd {
				opacity: 0.3;
			}
		}
	}
}
