@import "shared/style/modules";

$digits: 5;

.code {
	&__error-message {
		position: absolute;
		bottom: 10px;
		left: 3px;
		min-height: 18px;
		font-size: 12px;
		color: $color__error;
		text-align: left;
		font-family: $font-family-heading;
		font-weight: normal;
		line-height: 1.42;
	}

	&__inputs {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__input {
		margin: 0;
		padding: 0;
		width: calc(100% / #{$digits} - 10px);
		border: none;
		border-bottom: 1px solid $color__white;
		font-size: 24px;
		color: $color__white;
		text-align: center;
		background-color: rgba(0, 0, 0, 0);
		box-shadow: none;

		&:focus {
			outline: none;
		}

		&::-ms-clear {
			display: none;
		}

		&--error {
			border-color: $color__error;

			&::placeholder {
				color: $color__error;
			}
		}

		&--disabled {
			color: $color__grey--light;
			border-color: $color__grey--light;

			&::placeholder {
				color: $color__grey--light;
			}
		}
	}

	&-page {
		&__input-code {
			position: relative;
		}
	}
}
