@import "shared/style/modules";

.register-step1 {
	&__create-account {
		display: block;
		width: 100%;
		height: 50px;
		margin: 10px 0 15px;
		text-align: center;
		text-transform: none;
	}

	&__form-title {
		margin: 30px 0;
		color: $color__black3;
		font-size: 16px;
		line-height: 1.25;
		text-align: center;
	}

	&__spinner {
		.spinner {
			margin: auto;
			width: 30px;
		}
	}

	&__signin-link {
		color: $color__black3;
		cursor: pointer;
		&:focus {
			text-decoration: none;
		}

		&:hover {
			color: $color__mepass-primary--hover;
		}
	}

	&__signin-link-icon {
		display: inline-block;
		width: 10px;
		height: 20px;
		margin: 0 7px 2px 0;
		transform: rotate(90deg);
	}

	.me-pass-txt-input {
		&__input {
			width: 100%;
		}

		&__icon {
			right: -24px;
		}
	}

	&__gender {
		position: relative;

		&--after-error {
			.select--me-pass.select--expanded.select .select__button {
				border-color: $color__error-me-pass;
			}
			.select--me-pass.select--expanded.select .select--list li:not(:hover) {
				color: $color__error-me-pass;
			}
			.select--me-pass.select::after {
				content: "!";
				position: absolute;
				right: -14px;
				top: 4px;
				color: $color__error-me-pass;
				font-size: 28px;
			}
		}

		&--error {
			.select__button span {
				visibility: hidden;
			}
		}

		&--label {
			font-size: 16px;
			line-height: 1.5;
			position: absolute;
			top: -25px;
			left: 18px;
		}
		.select--me-pass.select .select__trans-label {
			display: none;
		}
	}

	&__input {
		margin: 30px 0;
		&--usernameExists .me-pass-txt-input__input {
			border-color: $color__black3;
		}
	}

	&__error-msg-userExists {
		&--row {
			font-size: 12px;
			margin-top: 12px;
			line-height: 1.33;
		}

		&--underline {
			font-weight: bold;
			text-decoration: underline;
			cursor: pointer;
			color: $color__error-me-pass;

			&:hover {
				text-decoration: underline;
				color: $color__error-me-pass;
			}
		}

		&--dot {
			width: 6px;
			height: 6px;
			border-radius: 50%;
			display: inline-block;
			background: $color__error-me-pass;
			margin-right: 6px;
		}
	}

	.select {
		display: block;
		width: 100%;
	}

	&__recaptcha-text-link {
		font-size: 14px;
		color: $color__grey;
		text-decoration: underline;

		&:hover {
			text-decoration: underline;
			color: $color__grey;
		}
	}

	&__recaptcha-text {
		font-size: 14px;
		color: $color__grey;
	}
}

.grecaptcha-badge {
	visibility: hidden;
}

.missing-validation-modal {
	text-align: center;
}

@media (hover: none) {
	.register-step1__signin-link {
		&:hover {
			color: $color__black3;
		}

		&:active {
			color: $color__mepass-primary--hover;
		}
	}
}
