@import "src/ref/tv/style/modules";

.enter-password-modal {
	font-family: $font-family-heading;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: $color__black;
	text-align: center;

	&__content {
		text-align: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);

		&--useOSK {
			transform: translateX(-50%) translateY(-90%);

			input {
				height: 75px !important;
				line-height: 75px !important;
			}
		}

		.pin-input {
			position: static;
			width: $viewport-width;
			height: $viewport-height;
			left: 0;
			top: 0;
		}
	}

	&__title {
		font-size: 64px;
		margin-bottom: 50px;
		text-transform: uppercase;
		font-weight: bold;
	}

	&__input {
		position: relative;
		margin-bottom: 60px;
		width: 669px;
		height: 75px;
		font-size: 36px;
		line-height: 41px;

		> div {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			line-height: 75px;
			background-color: rgba($color__white, 0.2);
			padding: 0 24px;
		}

		.input-single-line__placeholder {
			opacity: 0.7;
			font-size: 36px;
			font-weight: normal;
			text-align: center;
			width: 100%;
			left: 0;
			line-height: 75px;
		}
	}

	&__value {
		display: inline-block;

		&--hide {
			opacity: 0;
		}
	}

	&__cursor {
		width: 4px;
		height: 48px;
		margin-left: 6px;
		margin-bottom: -14px;
		opacity: 0;
		background-color: $color__white;
		display: inline-block;

		&--show {
			opacity: 1;
		}
	}

	&__message {
		position: absolute;
		top: 764px;
		width: 100%;
		font-size: 28px;
		font-weight: 500;
		line-height: 36px;
		letter-spacing: -0.9px;
		text-align: center;

		&--useOSK {
			top: 618px;
		}
	}

	&__error {
		opacity: 0;

		&--show {
			opacity: 1;
		}
	}

	&__controls {
		> div {
			display: inline-block;
			margin: 0 10px;
			width: 262px;
			height: 90px;
			line-height: 82px;
			border-radius: 45px;
			border: solid 4px $color__white;
			font-size: 28px;
			font-weight: bold;
			text-align: center;
		}

		> div.disable {
			opacity: 0.3;
		}

		> div.focused {
			background: $color__white;
			color: $color__blue--light;
		}
	}

	&__pin {
		position: absolute;
		top: 0;
		left: 0;
		width: 1110px;
	}
}
