@import "src/ref/tv/style/modules";

.rate-modal {
	background-color: $color__black;
	color: $color__white;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-weight: bold;

	&__container {
		height: 100%;
		width: 100%;
		margin: 0;
	}

	&__title {
		margin-top: 338px;
		line-height: 72px;
		font-size: 64px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}

	&__stars {
		margin: 70px auto 0;
		height: 120px;

		.star-icon__star {
			display: inline-block;
		}
	}
}
