@import "src/ref/tv/style/modules";

.signin-modal {
	background-color: $color__black;
	color: $color__white;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-weight: bold;
	background-color: $color__primary;
	background-image: linear-gradient(61deg, $color__singInModal-light, $color__singInModal-heavy);

	&__container {
		width: 100%;
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__action {
		width: 700px;
		height: 0;
		margin: 0 auto;
		opacity: 0;
		transition: 0.5s;

		&--needsAction {
			height: 275px;
			margin: 60px auto 0;
			opacity: 1;
		}

		.signin-modal__text:first-child {
			margin-top: 0;
		}
	}

	&__renew,
	&__confirm {
		margin-top: 40px;
	}

	&__logo {
		position: absolute;
		left: 50px;
		top: 50px;
		width: 193px;
		height: 57px;
	}

	&__title {
		font-size: 64px;
		font-weight: normal;
		line-height: normal;
	}

	&__text {
		margin-top: 37px;
		font-size: 28px;
		font-weight: 500;
		line-height: 36px;
		letter-spacing: -0.9px;
	}

	&__code {
		margin-top: 40px;
		font-size: 120px;
		font-weight: bold;
		line-height: normal;
		letter-spacing: 0.9px;
	}
}
