@import "shared/style/modules";
@import "../../style/app/header";

.cs-packshot-list {
	&--flush {
		// When the sort/filter bar is enabled, and this row is scheduled beneath a
		// hero header row, there is an abundantly large gap created since hero rows
		// usually want more space between their adjacent content, however the filters
		// compound this with their own row's whitespace, which effectively doubles the
		// gap which ruins the aesthetics.
		// To counteract this we add a negative margin to reverse the hero header margin
		// which effectively makes the two rows sit almost flush together. We maintain
		// the appearance of space between them thanks to the negative space in the
		// filters row.
		// This value should match the value defined for `$header-content-gap` within App.scss.
		margin-top: -($header-content-gap-phone * 0.6);

		@include mq($from: tablet) {
			margin-top: -($header-content-gap-tablet * 0.8);
		}
	}
}

.filter-sort-drop-down-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	padding-top: 10px;
	position: relative;

	@include mq($from: tablet) {
		justify-content: flex-end;
		margin-bottom: 0;
		padding-top: 5px;
	}

	@include mq($from: desktop) {
		margin-bottom: 8px;
	}

	&.offline {
		pointer-events: none;
		opacity: 0.3;
	}
}

.clear-list-filters-btn {
	color: $color__primary;
	line-height: 2em;
	background: transparent;
}
