@import "src/ref/tv/style/modules";

.action-button {
	.icon {
		display: block;
		font-size: 36px;
	}

	.icon-hover {
		display: none;
	}

	.icon-close-button {
		font-weight: bold;
	}

	.icon-rate-star,
	.icon-no-rate-star {
		font-size: 41px;
	}

	.icon-empty-star,
	.icon-trailer {
		font-size: 40px;
	}

	&:hover,
	&.focused {
		.icon-hover {
			display: block;
		}

		.icon-hover + .icon {
			display: none;
		}
	}
}
