@import "shared/style/modules";

.d1-season-selector {
	position: relative;
	color: $color__white;

	&.row-peek {
		padding-right: 0;
	}

	&__button {
		font-size: 1.125rem;
		font-family: $font-family-heading;
		color: $color__white;
		padding: 10px 20px 10px 0;
		position: relative;
		background: transparent;
		white-space: nowrap;

		&:after {
			border-style: solid;
			border-width: 0 0 2px 2px;
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			position: relative;
			top: -4px;
			left: 12px;
			transform: rotate(-45deg);
			vertical-align: middle;
		}
	}

	&__listContainer {
		display: none;
		position: absolute;
		top: 45px;
		left: -4px;
		background-color: $color__black4;
		padding-bottom: 15px;
	}

	&--right &__button {
		float: right;
		padding: 10px 26px 10px 10px;
	}

	&--expanded {
		z-index: $depth-modal-overlays;

		&:before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba($color__black, 0.8);
		}

		.season-list__item {
			padding-left: 0;
		}
	}

	&--expanded &__button {
		opacity: 1;
		background-color: $color__black4;
		padding-right: 34px;
	}

	&--expanded &__listContainer {
		display: block;
		width: 100%;
		background-color: $color__black4;
	}

	.d1-season-list {
		margin: 0;

		&__item--scrollable {
			margin-right: 0;
			text-align: left;
			float: none;
		}
		&__item--list {
			display: block;
			float: left;
		}
	}
}

@include mq(tablet) {
	.d1-season-selector {
		&--auto-expand .season-list__item {
			display: inline-block;
			float: none;
		}

		&--auto-expand &__button {
			display: none;
		}

		&--auto-expand &__listContainer {
			position: static;
			display: block;
			width: 100%;
			background-color: inherit;
		}
	}
}

@include mq($until: desktop) {
	.d1-season-selector {
		&--expanded &__listContainer {
			right: 0;
			width: 100vw;
			left: auto;
		}
	}
}

@mixin season-selector-expanded-styles($breakpoint) {
	$margin: get-grid-margin($breakpoint);
	$gutter: get-gutter($breakpoint);
	$padding-right-gap: 16px;

	.d1-season-selector--expanded {
		&.d1-season-selector--left .d1-season-selector__button {
			margin-left: $margin * -1;
			padding-left: $margin + $gutter / 2;
		}
		&.d1-season-selector--right .d1-season-selector__button {
			margin-right: $margin * -1;
			padding-right: $padding-right-gap + $margin + $gutter / 2;
		}
		.d1-season-selector__listContainer .d1-season-list {
			padding-left: $margin;
		}
	}
}

// We are using row-peek in the parent, so here we have to move the container to righ with $margin,
// also have to adjust button position.
@include loop-breakpoints($inclusive: true, $breakpoint-keys: $display-margins) {
	@include season-selector-expanded-styles($breakpoint);
}
