@import "shared/style/modules";

.rating {
	.rating-button {
		position: relative;
		text-align: center;
		width: 100px;
	}

	.cta-toggle-btn {
		&.rated .cta-toggle-btn__icon {
			color: $color__white;
			stroke: $color__white;
		}
	}

	&--rate_or_rating {
		.rating-button {
			top: 2px;
			text-align: center;
		}

		.cta-toggle-btn {
			border: 1px solid $color__grey--light;
			border-radius: 50px;
			padding: 5px;

			&__icon {
				stroke: $color__white;
			}

			&__label {
				display: none;
			}
		}
	}
}
