@import "shared/style/modules";

.schedule-title {
	margin-top: 0.3em;

	&__title {
		font-size: 12px;
		font-weight: bold;
		line-height: 14px;
		color: $color__white;
	}

	&__subtitle {
		font-size: 12px;
		line-height: 14px;
		margin-top: 0.1em;
		color: $color__grey--light;
	}
}

@include mq($from: tablet) {
	.schedule-title {
		&__title {
			font-size: 16px;
			line-height: 18px;
		}

		&__subtitle {
			font-size: 14px;
			line-height: 16px;
			margin-top: 0.3em;
		}
	}
}
