@import "shared/style/modules";

.d1-season-list {
	overflow: hidden;

	&--list {
		@include list-unstyled;
		display: block;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
	}

	&__item {
		display: inline-block;
		font-size: 1.125rem;
		font-family: $font-family-heading;
		text-align: center;
		position: relative;
		padding: 5px 0;
		margin-right: 60px;
		color: $color__grey--warm;

		&:first-of-type {
			padding-left: 0;
		}
	}

	.d1-season-list__arrow {
		background-color: $color__grey--dark;
		border-radius: 15px;
		font-size: inherit;
		width: 30px;
		height: 30px;

		.arrow__icon {
			height: 14px;
			width: 14px;
		}
	}

	&__item--active &__link {
		position: relative;
		color: $color__white;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -7px;
			width: 100%;
			height: 3px;
			background-color: $color__primary;
		}
	}

	&__link {
		color: $color__neutral;
		font-size: 18px;
	}
}

@media (hover: none) {
	&__link {
		color: $color__grey--warm;

		&:hover,
		&:focus,
		&:active {
			color: $color__primary;
		}
	}
}
