@import "shared/style/modules";

.reset-password-forms {
	padding: 30px;
	text-align: center;
	color: $color__black3;

	form {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 315px;
		margin: 0 auto;
	}

	&__title {
		margin: 30px 0 24px;
		font-size: 16px;
		line-height: 24px;
	}

	&__content {
		margin-bottom: 24px;
		padding: 0 8px;
		font-size: 14px;
		line-height: 24px;
		color: $color__grey;
	}

	&__top-link {
		position: relative;
		align-self: start;
		margin-left: 12px;

		.link {
			color: $color__black3;
			&:hover {
				color: $color__mepass-primary--hover;
			}
		}

		&::before {
			content: "";
			position: absolute;
			left: -7px;
			top: 50%;
			width: 7px;
			height: 7px;
			border-right: 2px solid $color__black3;
			border-bottom: 2px solid $color__black3;
			transform: translate(-50%, -50%) rotate(135deg);
		}
	}

	.me-pass-txt-input__message,
	&__error,
	&__content,
	&__input,
	&__submit {
		width: 100%;
	}

	&__input {
		width: 100%;
		margin-bottom: 26px;
		.me-pass-txt-input__input {
			width: 100%;
		}
	}

	&__error {
		margin: -25px 0 20px;
		padding-left: 16px;
		text-align: left;
		color: $color__error-me-pass;
	}

	&__message {
		margin: 1.5rem 0;
	}

	.txt-input {
		&__label {
			color: $color__neutral--light;
		}
		&__input {
			box-shadow: 0 -2px 0 -1px $color__neutral--light inset;
		}
	}

	.me-pass-pwd-input {
		width: 100%;
		position: relative;
	}

	.me-pass-txt-input {
		&__message {
			text-align: left;
		}
		&__icon {
			top: 14px;
			right: -25px;
		}
	}
}

@include mq($from: tablet) {
	.reset-password-forms {
		padding: 45px 0;
		form {
			max-width: 400px;
		}
	}
}

@include mq($from: laptop, $and: "(orientation: landscape)") {
	.reset-password-forms {
		form {
			max-width: 400px;
			margin: 0;
		}
	}
}

@include mq($from: desktop) {
	.reset-password-forms {
		padding: 60px 0;
		form {
			max-width: 500px;
		}
	}
}
