@import "shared/style/modules";

.continue-watching-list {
	.page-entry:first-of-type:not(.page-entry--hero) {
		margin-top: 2rem;
	}

	&--edit {
		.page-entry:first-of-type:not(.page-entry--hero) {
			margin-top: 1rem;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 1.5rem 0 1rem;
	}

	&__title {
		font-size: 1.5rem;
		line-height: 1.18;
		margin: 0;
	}

	&__remove-controls {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 1rem;
		background-color: $color__grey--dark;
		z-index: $depth-dropdown-overlays;
	}

	&__instructions,
	&__cta-remove-selected {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__instructions &__cta-icon {
		color: $color__grey--warm;
	}

	&__cta-remove-selected {
		font-size: 1em;
		font-weight: normal;
		padding: 0;
		height: auto;
	}

	&__cta-icon {
		width: 1.5rem;
		height: 1.5rem;
	}

	&__label--desktop {
		display: none;
	}
}

@include mq($from: phablet) {
	.continue-watching-list {
		&__title {
			font-size: 1.75rem;
		}
	}
}

@include mq($until: tablet) {
	.continue-watching-list {
		&__toggle-select-all {
			text-align: right;
		}

		&__ghost-btn {
			padding: 0 1rem;
			font-size: 0.75rem;
			height: 28px;
			line-height: 1;
		}
	}
}

@include mq($from: tablet) {
	.continue-watching-list {
		.page-entry:first-of-type:not(.page-entry--hero) {
			margin-top: 2.5rem;
		}

		&--edit {
			.page-entry:first-of-type:not(.page-entry--hero) {
				margin-top: 1rem;
			}
		}

		&__edit-controls {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		&__remove-controls {
			position: static;
			background-color: transparent;
			padding: 0;
			width: auto;
			margin-left: 2.5rem;
			line-height: 1.5rem;
		}

		&__instructions &__cta-icon {
			color: $color__grey--dark;
		}

		&__cta-icon {
			margin-right: 0.5rem;
			order: -1;
		}

		&__label--mobile {
			display: none;
		}

		&__label--desktop {
			display: block;
		}
	}
}
