@import "shared/style/modules";

.tx1 {
	&__link:not(:last-child) {
		margin-right: 10px;

		@include mq($from: tablet) {
			margin-right: 15px;
		}
	}

	&__btn {
		max-width: 245px;
	}
	.scrollable {
		height: 51px;
	}
}
