@import "shared/style/modules";

.billing-history-item {
	display: block;
	padding: 20px 0;
	border-bottom: 1px solid $color__off-white;
	align-items: center;
	justify-content: space-between;
	color: $color__grey--warm;

	&:last-child {
		padding-bottom: 0;
		border: none;
	}

	.column-1,
	.column-2,
	.column-3 {
		margin-bottom: 5px;
	}

	.column-2 {
		color: $color__grey--dark;
	}

	&__unavail {
		display: flex;
		align-items: start;
	}

	&__title {
		@include truncate-text;
	}

	@include mq($until: tablet) {
		.help-circle__content {
			left: 0;
			transform: translateX(-12px);

			&:after {
				left: 20px;
			}
		}
	}

	@include mq($from: tablet) {
		display: flex;
		padding: 10px 0;
		border-bottom: none;
	}
}
