// -------------------------------------- //
// Page Row Variables
// -------------------------------------- //

// There shouldn't be any output code this partial file.
// Import this within your component stylesheets to access the variables.

// Margin for rows vertical space
$page-entry-bottom-margin-phone: 25px;
$page-entry-bottom-margin-laptop: 40px;

// Branded Rows padding around packshot list and "outset distance" (how far the custom image will spill out of the container)
$branded-page-entry-outset-distance: 24px;
