@import "shared/style/modules";

.drop-menu {
	$bgColor: $color__black3;

	position: absolute;
	left: 50%;
	top: 100%;
	z-index: 1;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		transform: translateX(-50%);
		bottom: 100%;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-bottom-color: $bgColor;
	}

	&__content {
		padding: 20px 30px 30px;
		border-radius: 4px;
		background-color: $bgColor;
		box-shadow: 0 2px 4px 0 rgba($color__black, 0.5);
		overflow-y: auto;
	}

	&__container {
		position: absolute;
		padding-top: 22px;
		padding-bottom: 5px;
		margin-top: -22px;
	}
}
