@import "shared/style/modules";

.a1-pwd {
	&__title {
		color: $color__grey--dark;
		margin-bottom: 20px;
	}

	&__error {
		color: $color__error;
		font-size: 12px;
		opacity: 0;
		margin-top: -35px;
		&--visible {
			opacity: 1;
		}
	}

	.account-action-btns {
		margin-top: 0;
	}

	@include mq($from: tablet) {
		.pwd-input {
			width: 500px;
		}
	}
}
