@import "src/ref/tv/style/modules";

.hero-item {
	font-family: $font-family-heading;
	min-width: 100%;
	height: 100%;
	position: relative;

	&__image {
		height: 100%;
	}
}

.focused .hero-carousel__item--active .hero-item__box {
	border: solid 6px;
	position: absolute;
	top: -6px;
	bottom: 0;
	left: -6px;
	right: -6px;
}

.text-panel {
	background: linear-gradient(-180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	padding: 38.6px 76px;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;

	&__badge-image {
		position: absolute;
		width: 150px;
		bottom: 50px;
		right: 80px;

		&.right {
			right: auto;
			left: 80px;
		}
	}

	&__pos {
		font-size: 0;
		white-space: nowrap;
		position: absolute;
		left: 80px;
		bottom: 50px;
		max-width: 90%;

		&.center {
			text-align: center;
			left: 50%;
			transform: translateX(-50%);
		}

		&.left {
			left: 80px;
			text-align: left;
			right: auto;
		}

		&.right {
			left: auto;
			text-align: right;
			right: 80px;
		}

		&.middle {
			bottom: auto;
			top: 50%;
			transform: translateY(-50%);

			&.center {
				transform: translateX(-50%) translateY(-50%);
			}
		}

		&.top {
			top: 50px;
			bottom: auto;
		}
	}

	&__badge {
		display: inline-block;
		background: #ffb200;
		color: $color__black;
		padding: 0 12px;
		font-size: 28px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__title {
		color: $color__white;
		font-size: 72px;
		font-weight: bold;
		line-height: 87px;
		max-height: 261px;
		overflow: hidden;
		white-space: normal;
		text-transform: uppercase;
	}

	&__brand {
		display: inline-block;
	}

	&__tagline {
		font-size: 36px;
		line-height: 44px;
		max-height: 44px;
		overflow: hidden;
		margin-top: 10px;
		text-overflow: ellipsis;
	}
}
