@import "./modules/size-variables";

// -------------------------------------- //
// Exports sizes to be used in js
// -------------------------------------- //

:export {
	transitionDuration: $transition-duration;
	viewportWidth: $viewport-width;
	viewportHeight: $viewport-height;
	contentWidth: $content-width;
	globalHeaderHeight: $global-header-height;
	castCrewImageWidth: $cast-crew-image-width;
	posterImageWidth: $poster-image-width;
	squareImageWidth: $square-image-width;
	tileImageWidth: $tile-image-width;
	blockImageWidth: $block-image-width;
	blockLargeImageWidth: $block-large-image-width;
	tileThumbnailWidth: $tile-thumbnail-width;
	imageComponentWidth: $image-component-width;
	imageComponentHeight: $image-component-height;
	pictureComponentWallpaperImageWidth: $picture-component-wallpaper-image-width;
	listHeroWallpaperImageWidth: $list-hero-wallpaper-image-width;
	pbCoverFirstImageWidth: $pb-cover-first-image-width;
	sbCoverFirstImageWidth: $sb-cover-first-image-width;
	sbImageFirstImageWidth: $sb-image-first-image-width;
	sbImageListHeight: $sb-image-list-height;
	pbImageListHeight: $pb-image-list-height;
	tbImageListHeight: $tb-image-list-height;
	tDoubleFeaturedImageWidth: $t-double-featured-image-width;
	tDoubleFeaturedFirstImageWidth: $t-double-featured-first-image-width;
	tbImageWidth: $tb-image-width;
	tbFirstImageWidth: $tb-first-image-width;
	tbCoverImageWidth: $tb-cover-image-width;
	tbCoverFirstImageWidth: $tb-cover-first-image-width;
	h9ImageComponentUrlWidth: $h9-image-component-url-width;
	h9ImageComponentUrlHeight: $h9-image-component-url-height;
	d10InfoIconWidth: $d10-info-icon-width;
	lhStandardComponentWallpaperImageWidth: $lh-standard-component-wallpaper-image-width;
	lhStandardComponentWallpaperImageHeight: $lh-standard-component-wallpaper-image-height;
	lhStandardComponentBadgeImageWidth: $lh-standard-component-badge-image-width;
	lhStandardComponentBadgeImageHeight: $lh-standard-component-badge-image-height;
	lhStandardComponentBrandImageWidth: $lh-standard-component-brand-image-width;
	lhStandardComponentBrandImageHeight: $lh-standard-component-brand-image-height;
	panelComponentsWidth: $panel-components-width;
	panelComponentsHeight: $panel-components-height;
	overlayComponentMaxHeight: $overlay-component-max-height;
	viewerMarginTop: $viewer-margin-top;
	viewerMarginBottom: $viewer-margin-bottom;
	headerMenuButtonSize: $header-menu-button-size;
	episodeGridItemWidth: $episode-grid-item-width;
	trailersItemWidth: $trailers-item-width;
	tLargeImageTileWidth: $t-large-image-tile-width;
	seasonSelectorItemWidth: $season-selector-item-width;
	listMargin: $list-margin;
	scrollableListMargin: $scrollable-list-margin;
	itemMargin: $item-margin;
	assetListItemMargin: $asset-list-item-margin;
	autoScrollHeight: $auto-scroll-height;
	autoScrollSpacing: $auto-scroll-spacing;
	brandedImageInsetHeight: $branded-image-inset-height;
	brandedImageOutsetHeight: $branded-image-outset-height;
	playerCountDownTimerHeight: $player-count-down-timer-height;
	playerCountDownTimerWidth: $player-count-down-timer-width;
	playerCountDownTimerBorderWidth: $player-count-down-timer-border-width;
	playerCountDownTimerBorderColor: $player-count-down-timer-border-color;
	ed3ClientHeightOffset: $ed3-client-height-offset;
	ed3ScrollBarDiff: $ed3-scrollbar-diff;
	textScrollBarDiff: $text-scrollbar-diff;
	scrollablePageSize: $scrollable-page-size;
	tx1LeftEdge: $tx1-left-edge;
	tx1RightEdge: $tx1-right-edge;
	tx1ItemMarginRight: $tx1-item-margin-right;
	pr1Width: $pr1-width;
	assetGradientWidth: $asset-gradient-width;
	h7ItemMargin: $h7-item-margin;
	h7GroupWidth: $h7-group-width;
	h7SmallItemWidth: $h7-small-item-width;
	itemPadding: $item-padding;
	inputMaxWidth: $input-max-width;
	h2PeekSize: $h2-peek-size;
	h6PeekSize: $h6-peek-size;
	h5ListPadding: $h5-list-padding;
	h5ItemSpacing: $h5-item-spacing;
	h5ListTop: $h5-list-top;
	h5BottomBtnTop: $h5-bottom-btn-top;
	scrollableTextModalPadding: $scrollable-text-modal-padding;
	scrollableTextModalScrollBarHeight: $scrollable-text-modal-scrollBar-height;
	csListMarginTop: $cs-list-margin-top;
	rowListArrowWidth: $row-list-arrow-width;
	paddingBetweenEntries: $padding-between-entries;
	halfPaddingBetweenEntries: $half-padding-between-entries;
	assetListTitleHeight: $asset-list-title-height;
	assetListTaglineHeight: $asset-list-tagline-height;
	assetListTitleMarginBottom: $asset-list-title-margin-bottom;
	assetListTitlePaddingBottom: $asset-list-title-padding-bottom;
	assetListBrandImagePadding: $asset-list-brand-image-padding;
	assetBelowTitleHeight: $asset-below-title-height;
	assetBelowTitleTotalHeight: $asset-below-title-total-height;
	assetBlockHeight: $asset-block-height;
	assetPostHeight: $asset-post-height;
	assetSquareHeight: $asset-square-height;
	assetTileHeight: $asset-tile-height;
	assetTallHeight: $asset-tall-height;
	b1StandardHeight: $b1-standard-height;
	b2LargeHeight: $b2-large-height;
	b3DoubleHeight: $b3-double-height;
	p1StandardHeight: $p1-standard-height;
	p2LargeHeight: $p2-large-height;
	pb1CoverHeight: $pb1-cover-height;
	pb4ImageHeight: $pb4-image-height;
	pb4ImageMarginTop: $pb4-image-margin-top;
	s1StandardHeight: $s1-standard-height;
	s2LargeHeight: $s2-large-height;
	s3DoubleHeight: $s3-double-height;
	sb1CoverHeight: $sb1-cover-height;
	sb4ImageHeight: $sb4-image-height;
	sb4ImageMarginTop: $sb4-image-margin-top;
	t1StandardHeight: $t1-standard-height;
	t2LargeHeight: $t2-large-height;
	t3DoubleHeight: $t3-double-height;
	t4DoubleLargeHeight: $t4-double-large-height;
	t5DoubleFeaturedHeight: $t5-double-featured-height;
	tb1CoverHeight: $tb1-cover-height;
	tb4ImageHeight: $tb4-image-height;
	tb4ImageMarginTop: $tb4-image-margin-top;
	tl1StandardHeight: $tl1-standard-height;
	u1PosterHeight: $u1-poster-height;
	u2TileHeight: $u2-tile-height;
	u3BlockHeight: $u3-block-height;
	u4SquareHeight: $u4-square-height;
	tx1LinksHeight: $tx1-links-height;
	ahPaddingBottom: $ah-padding-bottom;
	ahHeroHeight: $ah-hero-height;
	ah3HeroHeight: $ah3-hero-height;
	a1DetailHeight: $a1-detail-height;
	a1DetailLessHeight: $a1-detail-less-height;
	a4ProfilesTotalHeight: $a4-profiles-total-height;
	a5ParentalLockHeight: $a5-parental-lock-height;
	a5ParentalLockLessHeight: $a5-parental-lock-less-height;
	h1Height: $h1-height;
	h2PaddingTop: $h2-padding-top;
	h2Height: $h2-height;
	h2LargeHeight: $h2-large-height;
	h5Height: $h5-height;
	h6PaddingTop: $h6-padding-top;
	h6Height: $h6-height;
	h7Height: $h7-height;
	h10Height: $h10-height;
	h10LessHeight: $h10-less-height;
	dh1Height: $dh1-height;
	dh1CollapsedHeight: $dh1-collapsed-height;
	d2SeasonDropBtnHeight: $d2-season-drop-btn-height;
	d2SeasonDescMaxHeight: $d2-season-desc-max-height;
	d2ListMarginTop: $d2-list-margin-top;
	d2ListItemHeight: $d2-list-item-height;
	d2ListThumbnailHeight: $d2-list-thumbnail-height;
	d3EpisodeListHeight: $d3-episode-list-height;
	d3EpisodeListPaddingTop: $d3-episode-list-padding-top;
	d4Height: $d4-height;
	d5Height: $d5-height;
	d6Height: $d6-height;
	d7Height: $d7-height;
	d8Height: $d8-height;
	d8TitleHeight: $d8-title-height;
	seasonSelectorHeight: $season-selector-height;
	episodeGridItemHeight: $episode-grid-item-height;
	episodeInfoHeight: $episode-info-height;
	listHeroHeight: $list-hero-height;
	listHeroTitleLineHeight: $list-hero-title-line-height;
	listFilterDropBtnHeight: $list-filter-drop-btn-height;
	listClearFilterBtnHeight: $list-clear-filter-btn-height;
	searchInputHeight: $search-input-height;
	signoutBtnHeight: $signout-btn-height;
	footerHeight: $footer-height;
}
