<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://${APP_DOMAIN}/${APP_ID}" version="${APP_VERSION}" viewmodes="maximized">
    <access origin="${HOSTED_URL}" subdomains="true"></access>
    <access origin="*" subdomains="true"></access>
    <tizen:app-control>
        <tizen:src name="${HOSTED_URL}" reload="disable"/>
        <tizen:operation name="http://samsung.com/appcontrol/operation/eden_resume"/>
    </tizen:app-control>
    <tizen:application id="${TIZEN_PKG}.${APP_ID}" package="${TIZEN_PKG}" required_version="2.3"/>
    <content src="${HOSTED_URL}"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <icon src="icon-512.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/devel.api.version" value="2.4"/>
    ${TIZEN_PREVIEW_METADATA}
    <name>${app_title}</name>
    <tizen:profile name="tv-samsung"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/content.read"/>
    <tizen:privilege name="http://tizen.org/privilege/content.write"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/drmplay"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/hostedapp_deviceapi_allow"/>
    <tizen:setting screen-orientation="auto-rotation" background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
