@import "shared/style/modules";
@import "shared/style/generic/text";

.cta-btn {
	$heightSmall: 30px;
	$height: $button-mobile-height;
	$heightDesktop: $button-uhd-height;

	border-radius: 100px;
	font-family: $font-family-heading;
	font-weight: bold;
	text-transform: capitalize;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	height: $height;
	padding: 0 30px;

	appearance: none;
	font-size: 16px;

	@include mq($until: phablet) {
		font-size: 14px;
	}

	&:focus {
		outline-color: $color__white;
	}
	&--light:focus {
		outline-color: $color__primary;
	}

	&--large {
		height: $heightDesktop;
		font-size: 18px;
		min-width: 170px;
		justify-content: center;
	}

	&--small {
		padding: 0 20px;
		height: $heightSmall;
		font-size: 12px;
	}
	// Default CTA button style assumes dark background (thus also 'dark' theme)
	&--primary {
		background-color: $color__primary;
		color: $color__black;
		&:hover:not(:disabled) {
			background-color: lighter($color__primary, 15%);
		}
		&:disabled {
			color: $color__grey--warm;
			background-color: $color__black4;
		}

		// white background theme
		&-light {
			color: $color__white;
			&:disabled {
				color: $color__grey--warm;
				background-color: $color__off-white;
			}
		}

		// blue background theme
		&-blue {
			color: $color__primary;
			background-color: $color--white;
			&:hover:not(:disabled) {
				background-color: rgba($color__white, 0.8);
			}
			&:disabled {
				color: $color__primary;
				background-color: rgba($color__white, 0.6);
			}
		}
	}

	// Default CTA button style assumes dark background (thus also 'dark' theme)
	&--secondary {
		color: $color__primary;
		border: 1px solid $color__primary;
		background-color: transparent;
		&:hover:not(:disabled) {
			background-color: rgba($color__primary--darker, 0.2);
		}
		&:disabled {
			color: $color__grey--warm;
			border-color: $color__grey--light;
		}

		// White Background theme
		&-light {
			&:disabled {
				background-color: transparent;
			}
		}

		// blue background theme
		&-blue {
			color: $color__white;
			border-color: $color__white;
			&:hover:not(:disabled) {
				background-color: rgba($color__white, 0.15);
			}
			&:disabled {
				color: rgba($color__white, 0.8);
				border-color: rgba($color__white, 0.4);
			}
		}
	}

	&--naked {
		color: $color__white;
		&:disabled {
			color: $color__grey--warm;
		}
		&:hover:not(:disabled) {
			color: $color__primary;
		}
		&-light {
			color: $color__primary;
			&:hover:not(:disabled) {
				color: $color__primary--darker;
			}
		}
		&-blue {
			&:hover:not(:disabled) {
				color: rgba($color__white, 0.8);
			}
			&:disabled {
				color: rgba($color__white, 0.8);
			}
		}
	}
}
