@import "shared/style/modules";

.scrollable {
	position: relative;
	overflow: hidden;

	&--key-mode {
		// For keyboard users we want to show the arrows if they're enabled (varies based on scrolling).
		> .arrow:not(:disabled) {
			transform: translateX(0);
			opacity: 1;
		}
	}

	.arrow__icon {
		height: 35px;
		width: 35px;
		top: 0;
	}
}

.scrollable__container {
	white-space: nowrap;
	transform: translateX(0);
	transition: transform 350ms cubic-bezier(0.6, 0.1, 0.4, 0.9);

	@include mq(tablet) {
		transition: transform 450ms cubic-bezier(0.6, 0.1, 0.4, 0.9);
	}

	&--no-transition {
		transition: transform 0s ease-in-out;
	}
}
